html {
	font-family: Roboto, sans-serif;
}
body {
	overflow: hidden;
}
*,
*:before,
*:after {

	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/*delete this if not fixed left menu*/
header {
	margin-left: 18px;
	position: relative;
}

.container {
	max-width: 1140px;
	padding-left: 30px;
	padding-right: 30px;
	box-sizing: border-box;
	margin: 0 auto;
}
ul,
li {
	list-style: none;
}
/*FIXED MENU ALL PRODUCTS*/
.menu-all-products {
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	color: #fff;
	display: flex;
	flex-wrap: nowrap;
	
}
.menu-all-productsIndex {
	z-index: 15;
}
.menu-all-products__title {
	position: absolute;
	top: 165px;
    left: -65px;
    transform: rotate(-90deg);
    font-weight: 200;
    white-space: nowrap;
    z-index: 3;
}
.menu-all-products__burger {
	width: 28px;
    height: 20px;
    position: absolute;
    top: 20px;
    left: 6px;
    margin-top: 20px;
    z-index: 3;
    cursor: pointer;
}
.menu-all-products__burger span {
	width: 100%;
    height: 2px;
    display: block;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    background-color: #fff;
  }
.menu-all-products__burger:before {
	content: "";
	position: absolute;
	width: 100%;
	height: 2px;
	display: block;
	background-color: #fff;
	top: 0;
	left: 0;

}
.menu-all-products__burger:after {
	content: "";
	position: absolute;
	width: 100%;
	height: 2px;
	display: block;
	background-color: #fff;
	bottom: 0;
	left: 0;
}



.nav-products__burger {
	width: 28px;
    height: 20px;
    position: relative;
    /* top: 20px;
    left: 6px; */
    /* margin-top: 20px; */
    /* z-index: 3; */
	cursor: pointer;
	display: none;
}
.nav-products__burger span {
	width: 100%;
    height: 2px;
    display: block;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    background-color: #fff;
  }
  .nav-products__burger:before {
	content: "";
	position: absolute;
	width: 100%;
	height: 2px;
	display: block;
	background-color: #fff;
	top: 0;
	left: 0;

}
.nav-products__burger:after {
	content: "";
	position: absolute;
	width: 100%;
	height: 2px;
	display: block;
	background-color: #fff;
	bottom: 0;
	left: 0;
}
.control-bar {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 40px;
	background-color: #5571a6;
	z-index: 3;
}
.menu-all-product__nav {
    position: relative;
    display: flex;
    flex-direction: column;
    align-content: center;
    background-color: #2b4f91;
    padding-left: 20px;
    padding-right: 20px;
    left: -230px;
    /*left: 0;*/
    padding-top: 20px;
    transition: 1s ease-in-out;
}
.menu-all-products__item {
	margin-bottom: 20px;
}
.menu-all-products__link {
	text-decoration: none;
	color: #fff;
	font-weight: 100;
	text-transform: uppercase;
}
.menu-all-products__search {
	margin-bottom: 20px;
	margin-top: 20px;
}
/* .menu-all-products__burger:hover ~ .menu-all-product__nav {
	left: 0px;
} */
.navSlide {
	left: 0;
	z-index: 2;
    overflow: hidden;
}
.overlay {
	position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 22px;
    opacity: 0;
    z-index: -1;
    -webkit-transition: opacity ease-in-out .3s;
    -o-transition: opacity ease-in-out .3s;
	transition: opacity ease-in-out .3s;
	
	background-color: rgba(0,0,0,0.6);
}
.overlayShow {
	z-index: 999;
    opacity: 1;
}
.menu-all-products__search {
	background-color: #2b4f91;
	border: 1px solid #333;
	outline: none;
	padding-left: 15px;
	padding-top: 5px;
	padding-bottom: 5px;
}

/*NAV INFO*/

.nav-info__wrap {
	background-color: rgba(43,79,145,1);
}
.nav-info {
	display: flex;
	position: relative;
	justify-content: space-between;
	align-items: center;
}
.nav-info__main-list {
	display: flex;
	justify-content: space-between;
}
.nav-info__main-link {
	color: #fff;
	text-decoration: none;
}
 .nav-info__sub-link {
	color: #000;
	text-decoration: none;
	white-space: nowrap;
}
.nav-info__main-link {
	position: relative;
	padding-right: 12px;
	transition: .4s;
	white-space: nowrap;
}
.nav-info__login {
    background: #7dd21b;
    padding: 5px 26px 6px 26px;
    text-decoration: none;
    white-space: nowrap;
}
.nav-info__main-link:before {
	position: absolute;
	content: "";
	display: block;
	width: 4px;
	height: 4px;
	border: 4px solid transparent;
	border-top-color: #fff;
	border-top-width: 4px;
	border-top-style: solid;
	right: 0px;
	top: calc(50% + 3px);
	transform: translateY(-50%);
	transition: .4s;
}
.nav-products__wrap {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.nav-info__main-item:hover .nav-info__main-link {
	color: #eb5757;
}

.nav-info__main-item:hover .nav-info__main-link:before {
	border-top-color: #eb5757;
}
.nav-info__sub-list {
	opacity: 0;
	display: none;
	flex-direction: column;
	position: absolute;
	top: 100%;
	left: -20px;
	background-color: #fff;
	width: auto;
	transition: 1s;
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
	z-index: 16;
}
.nav-info__sub-item {
	padding: 20px;
}
.nav-info__sub-item:hover {
	background-color: #eb5757;
}
.nav-info__sub-item:hover .nav-info__sub-link {
	color: #fff;
}
/*.nav-info__main-link:focus ~ .nav-info__sub-list {
	display: flex;
	position: absolute;
	bottom: -100px;
	left: 0;
	width: 100%;
	height: 300px;
	background-color: #333;
}*/
.nav-info__main-item {
    margin-right: 20px;
    /*margin-bottom: 10px;
    margin-top: 10px;*/
    padding-bottom: 10px;
    padding-top: 10px;
    position: relative;
}
.nav-info__main-item:hover > .nav-info__sub-list {
	display: flex;
	opacity: 1;

}




.nav-info__burger {
	width: 28px;
    height: 20px;
    position: relative;
	cursor: pointer;
	display: none;
}
.nav-info__burger span {
	width: 100%;
    height: 2px;
    display: block;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    background-color: #000;
  }
  .nav-info__burger:before {
	content: "";
	position: absolute;
	width: 100%;
	height: 2px;
	display: block;
	background-color: #000;
	top: 0;
	left: 0;

}
.nav-info__burger:after {
	content: "";
	position: absolute;
	width: 100%;
	height: 2px;
	display: block;
	background-color: #000;
	bottom: 0;
	left: 0;
}





.nav-info__login {
	color: #fff;
}
/*HEADER CONTACT*/

.header-contact__wrap {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px 0;
}
.header-contact__title-block {
	/*max-width: 205px;*/
	display: flex;
	flex-direction: column;
	align-items: center;
}
.header-contact__phone {
	font-size: 24px;
	font-weight: 500;
	text-decoration: none;
	color: #000;
	position: relative;
	padding-left: 30px;
}
.header-contact__phone:before {
	content:"";
	display: block;
	width: 24px;
	height: 29px;
	position: absolute;
	top: 2px;
	left: 0;
	background-image: url(images/phone.svg);
	background-repeat: no-repeat;

}
@keyframes phone {
    0% {
        -webkit-transform: rotate(10deg);
        transform: rotate(10deg)
    }
    15% {
        -webkit-transform: rotate(-13deg);
        transform: rotate(-13deg)
    }
    30% {
        -webkit-transform: rotate(13deg);
        transform: rotate(13deg)
    }
    45% {
        -webkit-transform: rotate(-13deg);
        transform: rotate(-13deg)
    }
    60% {
        -webkit-transform: rotate(13deg);
        transform: rotate(13deg)
    }
    75% {
        -webkit-transform: rotate(-13deg);
        transform: rotate(-13deg)
    }
    to {
        -webkit-transform: rotate(0);
        transform: rotate(0)
    }
}
.header-contact__phone:hover:before {
	animation: phone .3s infinite;
}
    
.header-contact__title-adress {
	font-size: 34px;
}
.header-contact__work-time {
	display: flex;
	/* flex-direction: column; */
	justify-content: space-between;
	align-items: center;
}
.work-time__wrap {
    margin-right: 10px;
}
.work-time__text {
	color: #fff;
	background-color: rgb(125, 210, 27);
	padding: 3px 10px;
	border-radius: 30px;
	white-space: nowrap;
}
.header-contact__callback {
	color: #ffffff;
    background-color: #eb5757;
    border: none;
    outline: none;
    -moz-appearance: none;
	-webkit-appearance: none;
	cursor: pointer;
	height: 45px;
    font-size: 14px;
    padding-left: 30px;
    padding-right: 30px;
    transition: .2s;
}
.header-contact__callback:hover {
	background-color: #ff7777;
}
    

/*NAV PRODUCTS*/

.nav-products {
	background-color: #2b4f91;
}
.nav-products__main-list {
	display: flex;
	justify-content: space-between;
	position: relative;
}
.nav-products__main-link {
	color: #fff;
	text-decoration: none;
	white-space: nowrap;
	padding: 13px 10px;
	display: block;
}
.nav-products__sub-list {
	position: absolute;
	display: none;
}
.nav-products__main-item:hover > .nav-products__main-link {
	background-color: #5571a6;
}
.nav-products__sub-list {
	/*box-shadow: 0px 5px 10px 0px #000000;*/
	border-top: 1px #eb5757 solid;
}
.nav-products__main-item:hover .nav-products__sub-list {
	display: flex;
	width: 100%;
	background-color: #2b4f91;
	position: absolute;
	left: 0;
	top: 100%;
	justify-content: space-between;
}
.nav-products__main-item:hover .nav-products__sub-list:before {
	content: "";
	display: block;
	width: 100vw;
	height: calc(100% + 1px);
	background-color: #2b4f91;
	position: absolute;
	top: -1px;
	left: -100vw;
	border-top: 1px #eb5757 solid;
	/*box-shadow: 0px 5px 10px 0px #000000;*/
}
.nav-products__main-item:hover .nav-products__sub-list:after {
	content: "";
	display: block;
	width: 100vw;
	height: calc(100% + 1px);
	background-color: #2b4f91;
	position: absolute;
	top: -1px;
	right: -100vw;
	border-top: 1px #eb5757 solid;
	/*box-shadow: 0px 5px 10px 0px #000000;*/
}
.nav-products__sub-item {
	/*height: 150px;*/
	width: 14.2%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	padding-top: 30px;
	padding-bottom: 30px;
}
.nav-products__sub-link {

}
.nav-products__sub-img {
	width: 100%;
	height: 150px;
}
.nav-products__sub-item:hover {
	background-color: #eb5757;
}
.nav-products__sub-desc {
	text-align: center;
	color: #fff;
}
.nav-products__main-item {
	border-bottom: 4px solid transparent;
}
.nav-products__main-item:hover {
	border-bottom: 4px solid #eb5757;
}

@media (max-width:1140px) {
	.menu-all-products {
		display: none;
	}
	header {
		margin-left: 0;
	}
	.header-contact__work-time {
		flex-direction: column;
	}
	.nav-info__main-link {
		font-size: 14px;
	}
	.nav-products__main-link {
		font-size: 14px;
	}
}
@media (max-width: 1024px) {
	.nav-info__login {
		display: none;
	}
	.header-contact__callback {
		display: none;
	}
	.nav-info {
		justify-content: center;
	}
	.header-contact__phone {
		order: -1;
		margin-right: 40px;
		white-space: nowrap;
	}
	.header-contact__work-time {
		flex-direction: row;
	}
	
}
@media (max-width: 992px) {
	.header-contact__title-block {
		display: none;
	}
	.nav-products__burger {
		display: block;
	}
	.nav-products__main-list {
		flex-direction: column;
		display: none;
	}
	.nav-products__main-list--show {
		display: block;
	}
	.nav-products__main-item:hover .nav-products__sub-list {
		display: flex;
		width: 100%;
		background-color: #2b4f91;
		position: absolute;
		left: 0;
		top: 100%;
		justify-content: space-between;
	}
	.nav-products__sub-img {
		display: none;
	}
	.nav-products__sub-list {
		position: static;
		/* width: 0; */
	}
	.nav-products__main-item:hover .nav-products__sub-list {
		display: flex;
		flex-direction: column;
		width: 100%;
		background-color: #2b4f91;
		position: static;
		/* left: 0;
		top: 100%; */
		justify-content: space-between;
	}
	.nav-products__sub-list {
		display: block;
		flex-direction: column;
		width: 100%;
		background-color: #2b4f91;
		position: static;
		/* left: 0;
		top: 100%; */
		justify-content: space-between;
	}
	.nav-products__sub-item {
		/* height: 150px; */
		    /* height: 150px; */
			width: auto;
			display: flex;
			flex-direction: column;
			justify-content: flex-start;
			align-items: flex-start;
			padding-top: 5px;
			padding-bottom: 5px;
			padding-left: 25px;
			padding-right: 5px;
	}
	.nav-products__sub-desc {
		font-size: 14px;
	}
	.nav-products__wrap {
		padding: 10px;
		display: block;
		/* justify-content: space-between;
		align-items: center; */
	}
	.nav-products__main-item:hover .nav-products__sub-list:before {
		border: none;
	}
	.nav-products__main-item:hover .nav-products__sub-list:after {
		border: none;
	}
	.nav-products__sub-list {
		height: 0;
		
	}
	.nav-products__sub-list--show {
		height: 100%;
		transition: height 2s;
	}
	.nav-products__main-item:hover {
		border-bottom: none;
	}
	
	.nav-products__main-item {
		border-bottom: none;
		overflow: hidden;
	}
	.nav-products__sub-list {
		border-top: none;
	}
	.nav-products__sub-list--show {
		height: 100%;
	}
	.nav-info__main-list {
		display: none;
	}
    .header-contact__logo {
		margin-right: 20px;
	}
	.header-contact__work-time {
		flex-grow: 1;
		justify-content: space-around;
	}
	.header-contact__phone {
		margin-right: 0px;

	}
	.nav-info__burger {
		display: block;
	}
	header {
		display: flex;
		flex-wrap: wrap;
	}
	.nav-products {
		width: 100%;
	}
	.nav-info__wrap {
		background-color: #fff;
		display: flex;
		align-items: center;
	}
	.header-contact {
		flex-grow: 1;
		flex-basis: 80%;
		order: -1;
	}
	.nav-info__main-item:hover > .nav-info__sub-list {
		pointer-events:none;
	}
	.nav-info__main-list {
		display: none;
		width: auto;
		right: 5px;
		height: auto;
		padding-left: 10px;
		position: absolute;
		flex-direction: column;
		top: 174px;
		box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
	}
	.nav-info__main-list--show {
		display: flex;
	}
	.nav-info__main-link {
		color: #000;
		margin-right: 20px;
		padding-bottom: 10px;
		padding-top: 10px;
		display: block;
	}
	.nav-info {
		position: static;
	}
	.nav-info__sub-list {
		opacity: 0;
		display: none;
		position: absolute;
		top: 100%;
		/* right: -20px; */
		left: -233px;
		background-color: #fff;
		width: 225px;
	}
	.nav-info__sub-list--show {
		display: block;
	}
	.nav-info__sub-link {
		white-space: normal;
		font-size: 14px;
	}


	.nav-info__sub-list--show {
		display: flex;
		opacity: 1;
	}
	.nav-info__wrap .container {
		padding-left: 0;
	}
	.nav-info__sub-item {
		padding: 10px;
	}
	.nav-info__main-item {
		margin: 0;
		padding: 0;
	}
	
}
@media (max-width: 768px) {
	.header-contact__work-time {
		flex-direction: column;
	}
	.header-contact__title-text {
		display: none;
	}
	.header-contact__title-adress {
		display: none;
	}
	.header-contact__wrap {
		justify-content: space-around;
	}
	.header-contact__phone {
		margin-bottom: 20px;
	}
}
@media (max-width: 576px) {
	body {
		min-width: 576px;
	}

	
}